body { 
/*    background: url(../img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

.jumbotron {
    background-color: rgba(238, 238, 238, 0.75);
    -webkit-box-shadow: 0px 0px 25px 4px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 25px 4px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 25px 4px rgba(0,0,0,0.16);
}

.bg {
    background-image: url('../img/bg2.jpg');
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 800px;
    left: -20px;
    top: -20px;
    position: fixed;
    right: -20px;
    z-index: -1;
}

a:hover {
    text-decoration: none;
}

// style from example

.percent {
  position: absolute;
  width: 300px;
  height: 14px;
  z-index: 1;
  text-align: center;
  font-size: 0.8em;
  color: white;
}

.progress-bar {
  width: 300px;
  height: 14px;
  border-radius: 10px;
  border: 1px solid #CCC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
  border-image: initial;
}

.uploaded {
  padding: 0;
  height: 14px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
  border-image: initial;
}

.dropbox {
  height: 3em;
  border: 2px solid #DDD;
  border-radius: 8px;
  background-color: #FEFFEC;
  text-align: center;
  color: #BBB;
  font-size: 2em;
  font-family: Arial, sans-serif;
}

.dropbox span {
  margin-top: 0.9em;
  display: block;
}

.dropbox.not-available {
  background-color: #F88;
}

.dropbox.over {
  background-color: #bfb;
}
