<div class="jumbotron">
	<h1>Add project</h1>

	<form>
		<div class="form-group">

			<label>Project name</label>
			<input class="form-control" ng-model="data.projectName" >					
			<label>Completion year</label>
			<input class="form-control" ng-model="data.completionYear" >					
			<label>Location</label>
			<input class="form-control" ng-model="data.location" >					
			<label>Project type</label>
			<input class="form-control" ng-model="data.projectType">					
			<label>Contractor</label>
			<input class="form-control" ng-model="data.contractor" >					
			<label>Architect</label>
			<input class="form-control" ng-model="data.architect" >					
			<label>Building type</label>
			<input class="form-control" ng-model="data.buildingType">					
			<label>Building style</label>
			<input class="form-control" ng-model="data.buildingStyle" >
			<label>Total area</label>
			<input class="form-control" ng-model="data.totalArea" >
			<label>Price</label>
			<input class="form-control" ng-model="data.price" >
			<label>Thumbnail</label>
			<input class="form-control" ng-model="data.mainImage" >

			<label>Keywords</label>
			<div ng-repeat="key in keywords track by $index">
				<input class="form-control" once="addKeyword()" placeholder= "{{key}}" ng-model="keywords[$index]"/>
			</div>
			<label>Images (URLs)</label>
			<input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
			  <div id="dropbox" class="dropbox" ng-class="dropClass"><span>{{dropText}}</span></div>
		    <div ng-show="files.length">
		      <div ng-repeat="file in files.slice(0)">
		        <span>{{file.webkitRelativePath || file.name}}</span> (
		        <span ng-switch="file.size > 1024*1024">
		                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
		        <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
		        </span>)
		      </div>
		      <input type="button" ng-click="uploadFile()" value="Upload" />
		      <div ng-show="progressVisible">
		        <div class="percent">{{progress}}%</div>
		        <div class="progress-bar">
		          <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
		        </div>
		      </div>
		    </div>
		</div>

		<input ng-click=" save(data)" type="submit">
	</form>
</div>