<div class="jumbotron">
	<h1>Add project</h1>

	<form>
		<div class="form-group">

			<label>Project name</label>
			<input class="form-control" ng-model="data.projectName" >					
			<label>Completion year</label>
			<input class="form-control" ng-model="data.completionYear" >					
			<label>Location</label>
			<input class="form-control" ng-model="data.location" >					
			<label>Project type</label>
			<input class="form-control" ng-model="data.projectType">					
			<label>Contractor</label>
			<input class="form-control" ng-model="data.contractor" >					
			<label>Architect</label>
			<input class="form-control" ng-model="data.architect" >					
			<label>Building type</label>
			<input class="form-control" ng-model="data.buildingType">					
			<label>Building style</label>
			<input class="form-control" ng-model="data.buildingStyle" >
			<label>Total area</label>
			<input class="form-control" ng-model="data.totalArea" >
			<label>Price</label>
			<input class="form-control" ng-model="data.price" >
			<label>Thumbnail</label>
			<input class="form-control" ng-model="data.mainImage" >

			<label>Keywords</label>
			<div ng-repeat="key in keywords track by $index">
				<input class="form-control" once="addKeyword()" placeholder= "{{key}}" ng-model="keywords[$index]"/>
			</div>
			<label>Images (URLs)</label>
			<div ng-repeat="image in images track by $index">
				<input class="form-control" once="addImage()" placeholder= "{{image}}" ng-model="images[$index]"/>
			</div>
		</div>

		<input ng-click=" save(data)" type="submit">
	</form>
</div>