
<div class="jumbotron">
	<h2>Search results</h2>
	<div class="row">

		<ul class="list-group" ng-repeat="project in projects | filter: search ">
			<li class="list-group-item">
				<a href="#/" ng-show="!editMode" ng-click="openModal(project);" ><img style="width:64px; height: 64px;" ng-src="./uploaded_img/{{project.mainImage}}"/> {{project.projectName}}, {{project.totalArea}}m<sup>2</sup>, {{project.completionYear}}r., {{project.location}} </a>

				<span ng-show="confirmation">
					<div class="btn-group pull-right" role="group" aria-label="...">
					  <button type="button" ng-click="confirmation = false;" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
					  <button type="button" ng-click="confirmation = false; delete(project);" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
					</div>
				</span>

				<span ng-show="editMode">
					<div class="form-group">
						<label>Project name</label>
						<input class="form-control" ng-model="project.projectName" placeholder="{{project.projectName}}">					
						<label>Completion year</label>
						<input class="form-control" ng-model="project.completionYear" placeholder="{{project.completionYear}}">					
						<label>Location</label>
						<input class="form-control" ng-model="project.location" placeholder="{{project.location}}">					
						<label>Project type</label>
						<input class="form-control" ng-model="project.projectType" placeholder="{{project.projectType}}">					
						<label>Contractor</label>
						<input class="form-control" ng-model="project.contractor" placeholder="{{project.contractor}}">					
						<label>Architect</label>
						<input class="form-control" ng-model="project.architect" placeholder="{{project.architect}}">					
						<label>Building type</label>
						<input class="form-control" ng-model="project.buildingType" placeholder="{{project.buildingType}}">					
						<label>Building style</label>
						<input class="form-control" ng-model="project.buildingStyle" placeholder="{{project.buildingStyle}}">
						<label>Total area</label>
						<input class="form-control" ng-model="project.totalArea" placeholder="{{project.totalArea}}">
						<label>Price</label>
						<input class="form-control" ng-model="project.price" placeholder="{{project.price}}">
					</div>	
					<input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
					<span>
						<div class="btn-group" role="group" aria-label="...">
							<button class="btn btn-default" ng-click="editMode = false; save(project)"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
							<button class="btn btn-default" ng-click="editMode = false"><span class="glyphicon glyphicon-remove"></span> Abort</button>
						</div>
					</span>
					
				</span>
				<div class="btn-group pull-right" role="group" aria-label="...">
					<button ng-show="!editMode && !confirmation" ng-click="confirmation = true" class="btn btn-default">
						<span class="glyphicon glyphicon-trash edit-icon"></span>
					</button>
					<button ng-show="!editMode && !confirmation" ng-click="editMode = true" class="btn btn-default">
						<span class="glyphicon glyphicon-pencil edit-icon"> </span>
					</button>
			</li>
		</ul>
	</div>
</div>
